@charset "UTF-8";

/*
    PALETA DE CORES
    Verde: #49a09d
    Lilás: #5f2c82
*/


.login-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: gray;
}

.login-form {
    width: 50%;
    padding: 20px;
    background-color: #fff;
}

.login-form h2 {
    text-align: center;
}

.login-form form {
    display: flex;
    flex-direction: column;
}

.login-form label {
    margin-bottom: 10px;
}

.login-form input {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.login-form button {
    padding: 10px;
    background-color: #0066cc;
    color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.image-div {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-div img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}